<main role="main">
  <div class="container">
    <h1><%= @food.name %></h1>
    <h2><%= @food.restaurant_name %></h2>
    <h2>Price: <%= number_to_currency @food.price %></h2>

    <%= image_tag @food.photo_path %>

  </div>
</main>